<html>
<head>
	<title>Courses</title>
</head>
<body>
	<h2>List of available Courses:</h2>
		<ul>
			<% @courses_all.each do |course| %>
			<% subject = Subject.find(course.subject_id) %>
			<% professor = Professor.find(subject.id) %>
				<li><%= course.id %> - <%= course.name %> - <%= professor.name %> - <a href="/courses/<%= course.id %>/edit">  Edit  </a> <a href="courses/<%= course.id %>/delete">  Delete </a>
					
				</li>
			
			<% end %>
		</ul>
</body>
</html>

<!--  - <%= subject.name.where(course.subject_id = subject.id) -->