<html>
<head>
	<title>Subjects</title>
</head>
<body>
	<h2>List of Subjects:</h2>
		<ul>
			<% @subjects_all.each do |subject| %>
			 <% professor = Professor.find(subject.id) %>
				<li><%= subject.id %> - <%= subject.name %> - <%= professor.name %> - <a href="/subjects/<%= subject.id %>/edit">Edit</a> <a href="subjects/<%= subject.id %>/delete">Delete</a>
				
				</li>
			<% end %>
		</ul>
</body>
</html>

